<%- include("partials/header.ejs") %>
<%- include("partials/navigationBar.ejs") %>

<!-- TODO: Center the whole website -->
<div class="container-fluid mx-auto"> 
    <main>
        <form action="/blogEntry/edit" method="post">
            <input type="hidden" name="id" value="<%= editBlog.id %>">
            <input type="text" name="author" placeholder="Author's Name" value="<%= editBlog.author %>"><br>
            <input type="text" name="title" placeholder="Blog Post Title" value="<%= editBlog.title %>"><br>
            <textarea type="text" name="content" placeholder="Write content here..." rows="20" cols="100"><%= editBlog.content %></textarea><br>
            <input type="submit" value="Edit">
        </form>
    </main>
</div>



<%- include("partials/footer.ejs") %>