<%- include("partials/header.ejs") %>
<%- include("partials/navigationBar.ejs") %>

<main>

    <% if (locals.blog.list.length >= 1) { %>
        <% for (let i = 0; i < blog.list.length; i++) { %>
            <div><%= blog.list[i].author %></div>
            <div><%= blog.list[i].date %></div>
            <div><%= blog.list[i].content %></div>
            <div><a href="/blogEntry/details/<%= blog.list[i].id %>" class="btn btn-primary">View</a></div>
            <div><a href="/blogEntry/edit/<%= blog.list[i].id %>" class="btn btn-secondary">Edit</a></div>
            <div>
                <form action="/blogEntry/delete" method="post">
                    <input type= "hidden" name="id" value="<%= blog.list[i].id %>">
                    <button class="btn btn-tertiary">Delete</button>
                </form>
            </div>
        <% } %>
    <% } else { %>
        <div>no content</div>
    <% } %>
</main>

<%- include("partials/footer.ejs") %>