<%- include("partials/header.ejs") %>
<%- include("partials/navigationBar.ejs") %>

<main>
    <% if (locals.showBlog) { %>
        <div><%= showBlog.title %></div>
        <div><%= showBlog.author %></div>
        <div><%= showBlog.date %></div>
        <div><%= showBlog.content %></div>
    <% } %>

</main>

<%- include("partials/footer.ejs") %>